html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width:100%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
.wrap {
  background: #E5E5E5;
  height: 100%;
  padding: 20px 80px 330px 80px;
}

.shape {
  background: #FFFFFF; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-top: 2px solid #1E79BE;
  max-width: 1280px;
  min-width: 930px;
  padding: 45px;
} 

.back {
  margin: 0px auto 13px 0px;
  height: 20px;
  width: 247px;
  color: #3072C4;
  vertical-align: baseline;
  cursor: pointer;
}

.row_gray{
  height: 1px;
  background-color:rgba(0, 0, 0, 0.1);
  margin: auto 45px 25px 0px;
}

.address {
  margin: auto auto 5px 0px;
  height: 70px;
  width: 707px; 
  font-size: 22px;
  line-height: 30px;
}

.text {
  margin-bottom: 10px;
}

.rooms {
  margin: 5px auto 0px 0px;
  width: 619px; 
}

.coordinate{
  color: #A1A1A1;
}

.order {
  width: 172px;
  height: 42px;
  line-height: 25px;
  text-align: center;
  background: #1E79BE;
  border: 1px solid #1E79BE;
  color: #FFFFFF;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 25px;
}

.checkbox {
  display: none;
  margin: 20px 0px 10px 5px;
}

.info_label {
  margin-bottom: 20px;
}

.fake-checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #A0A0A0;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:hover + .fake-checkbox {
  background:#A0A0A0;
}

.checkbox:checked + .fake-checkbox {
  background: #1D85D0;
  border: 1px solid #1D85D0;
  width: 14px;
  height: 14px;
  background-image: url("../img/check.svg");
}

.fake-checkbox-1{
 margin-left: 9px;
 margin-top: -5px;
}

.fake-checkbox-2{
  color: #808080;
  margin-left: 30px;
}

.footer {
  padding-top: 25px;
  color: #A1A1A1;  
}

.logo {
  float: left;
}

.text_SKB {
  display: inline-block;
  padding-left: 7.98px;
}

.service {
  font-size: 14px;
}

/* HEADER */
.header {
  
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.nav {
  /* padding-top: 9px; */
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin-right: 80px;
  padding: 0;
  height: 50px;
  z-index: 1;
}
.nav_item p {
  margin: 0;
  position: relative;
}
.balanse{
  padding-top:3px;
}
.nav>div {
  margin-left: 28px;
  padding: 12px;
  
}




.nav>div:hover,
.nav li:hover,
.nav a:hover{
  cursor: pointer;
  background-color: #E6E6E6;
}

.nav>div:last-child::before {
  content: ' ';
  position: relative;
  left: -12px;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.vipiski>.vipiski_dropdown,
.help>.help_dropdown {
  position: absolute;
  width: 210px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1;
  margin-top: 20px;
  margin-left:-12px;
  display: none;
  list-style: none;
  padding: 0;
  
}
.help_dropdown{
  width:250px;
}
.vipiski:hover .vipiski_dropdown {
  display: block;
}

.help:hover .help_dropdown {
  display: block;
}

.vipiski_item,.help_item {
  padding: 10px 0 12px 10px;
}

.vipiski_item:nth-child(2) {
  border-bottom: 1px solid lightgrey;
}
.vipiski_dropdown>a{
  text-decoration: none;
}
.vipiski_dropdown p ,.help_dropdown p{
  font-size: 12px;
  padding-bottom: 0;
  cursor: default;
  color:grey;
}
a.vipiski_item{
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: black;
}
/* MODAL */
.modal_wrapper {
  position: fixed;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

#modal:target {
  opacity: 100;
  visibility: visible;
}

.modal_content {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left:50%;
  transform: translate(-50%, 0);
  top:30%;
  width: 500px;
  height: 200px;
  margin:auto;
  z-index: 2;
  background-color: white;

}

.modal_header {
  padding:25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal_header_text {
  font-size: 22px;
  font-weight: 400;
}

.modal_header>img {
  width: 16px;
  height: 16px;
}
.modal_checkbox{
  padding-left: 25px;
  padding-bottom: 25px;
}
.modal_footer>a{
  display: block;
  text-decoration: none;
  cursor: pointer;
  width:90px;
  color:black;
  background-color: white;
  margin-left:25px;
  margin-top:15px;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.007) 0px 1px 0px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
}
.modal_footer>a:active{
  color:black;
}

.modal_footer {
  height: 35%;
  background-color: #E5E5E5;
}
.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ==============TOGGLE================= */


.toggle-button {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  box-shadow:rgb(208, 208, 208) 0px 0px 0px 1px inset;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in 0s;
  /* взято с хабра */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }

.toggle-button::after {
  content: "";
  left:1px;
  top:1.5px;
  display: inline-block;
  position: absolute;
  transition: all 0.2s ease-in 0s;
  width: 17px;
  height: 17px;
  background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(255, 255, 255), rgb(235, 235, 235)) repeat scroll 0% 0%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 0px 0px, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
  border-radius: 50%;

}
.toggle-button:hover::after{
  background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(241, 241, 241), rgb(222, 222, 222));
}
.toggle-button:checked::after {
  transform: translateX(75%);
  background: #fff;
}
.toggle-button:checked:hover::after{
  background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(241, 241, 241), rgb(222, 222, 222));
}

.toggle-button:checked {
  background-color: #3072C4;
  box-shadow: none;
}
